@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
 
*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai',sans-serif;
}
 
body{
    background-color: #fff;
    color: #504e4e;
    line-height: 1.6;
}
 
nav{
    background-color: #da9a23;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index:  100;
    top: 0;
}
 
nav .logo > img{
    height: 72px;
}
 
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
 
nav a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
 
nav a:hover{
    color: #504e4e;
}
 
.header{
    text-align: center;
    padding: 30px;
    background-color: #fff;
}
 
.img-profile{
    width: 200px;
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 5px 5px 5px #504e4e;
    border: 2px solid #fff;
    margin-bottom: 20px;
}
 
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}
 
h2{
    text-align: center;
    margin-bottom: 30px;
}
 
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
 
.card{
    background: #fff;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px #e7e7e7e7;
}
 
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
 
.card img{
    padding: 10px;
    font-size: 24px;
}
 
.card p{
    padding: 10px;
    font-size: 16px;
}